<ion-view>
    <ion-content>

        <div class="strike header-text" ui-sref="home">
            <span>Welcome</span>
        </div>
        
        <div class="landing-logo">
            <img src="img/sealions_logo.png" height="150px" width="auto">
        </div>
        
        <div class="header-text dark" style="margin-bottom:15px">
            {{global_text[0].home}}
        </div>
        
        <button class="button-block button-style opaque" ui-sref="news">
            <i class="button-icon-margin ion-document-text"></i> 
            News Articles
        </button>
        <button class="button-block button-style opaque" ui-sref="schedule">
            <i class="button-icon-margin ion-calendar"></i> 
            Game Schedule
        </button>
        <button class="button-block button-style opaque" ui-sref="team">
            <i class="button-icon-margin ion-tshirt"></i> 
            Team Roster
        </button>
        <button class="button-block button-style opaque" ui-sref="sponsors">
            <i class="button-icon-margin ion-earth"></i> 
            Our Sponsors
        </button>
        
        <br>
        
        <div class="row none text-center">
            <div class="col none">
                <p>
                    <a href="https://www.facebook.com/SanDiegoSeaLions"><img class="social-logo" src="img/social/facebook.png" alt="Facebook Logo"></a>
                </p>
            </div>
            <div class="col none">
                <p>
                    <a href="https://twitter.com/SDSeaLions"><img class="social-logo" src="img/social/twitter.png" alt="Twitter Logo"></a>
                </p>
            </div>
            <div class="col none">
                <p>
                    <a href="https://www.instagram.com/sd_sealions/"><img class="social-logo" src="img/social/instagram.png" alt="Instagram Logo"></a>
                </p>
            </div>
            <div class="col none">
                <p>
                    <a href="http://sealionsoccer.com/"><img class="social-logo" src="img/social/website.png" alt="Website Logo"></a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>