<ion-view>
    <ion-content>

        <div class="strike header-text" ui-sref="home">
            <span>Welcome</span>
        </div>
        
        <div class="landing-logo">
            <img src="img/sealions_logo.png" height="150px" width="auto">
        </div>
        
        <div class="header-text dark" style="margin-bottom:15px">
            {{globalText[0].home}}
        </div>
        
        <button class="button-block button-style opaque" ui-sref="news">
            <i class="button-icon-margin ion-document-text"></i> 
            News Articles
        </button>
        <button class="button-block button-style opaque" ui-sref="schedule">
            <i class="button-icon-margin ion-calendar"></i> 
            Game Schedule
        </button>
        <button class="button-block button-style opaque" ui-sref="team">
            <i class="button-icon-margin ion-tshirt"></i> 
            Team Roster
        </button>
        <button class="button-block button-style opaque" ui-sref="sponsors">
            <i class="button-icon-margin ion-earth"></i> 
            Our Sponsors
        </button>

    </ion-content>
</ion-view>