<ion-view>
    <ion-content>
        
        <div class="strike header-text" ui-sref="home">
            <span>SeaLions News</span>
        </div>
        
        <div class="header-text dark" style="margin-bottom:15px">
            {{globalText[0].news_posts}}
        </div>

        <div ng-repeat="item in posts">
            <img class="hero-photo" ng-src="{{item.hero_image.src}}" alt="Hero Image"/>
            <h1>{{item.title}}</h1>
            <p>{{item.body | limitTo: 150}}...</p>
            <button class="button-block button-style opaque center-button">
                Read More
            </button>
            <br>
            <hr>
            <br>
        </div>

        <!--<button class="home-fab" ui-sref="home">-->
        <!--    <i class="ion-home"></i>-->
        <!--</button>-->

    </ion-content>
</ion-view>