<ion-view>
    <ion-header-bar align-title="middle" style="background-color: #526DB2">
        <h1 class="title">SeaLions News</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        
        <div class="header-text dark">
            <div id="globalHeader"></div>
        </div>

        <div ng-repeat="item in posts">
            <img class="hero-photo" ng-src="{{item.hero_image.src}}" alt="Hero Image"/>
            <h1>{{item.title}}</h1>
            <h1 style="font-weight:500">{{item.date}}</h1>
            <p><span ng-bind-html="item.body | limitTo: 150"></span>...</p>
            <button class="button-block button-style opaque center-button" ng-click="modal.show(); selectPost(item)">
                Read More
            </button>
            <br>
            <hr>
            <br>
        </div>

    </ion-content>
</ion-view>



<script id="post-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="middle" style="background-color: #526DB2">
            <h1 class="title">SeaLions News</h1>
            <div class="buttons" style="color: white;" ng-click="modal.hide()">
                <i class="ion-close-circled" style="font-size:30px"></i>
            </div>
        </ion-header-bar>
        <ion-content style="padding-top:15px">
            <img class="hero-photo" ng-src="{{selectedPost.hero_image.src}}" alt="Hero Image"/  style="margin-top:15px">
            <h1>{{selectedPost.title}}</h1>
            <p ng-bind-html="selectedPost.body"></p>
            <button class="button-block button-style opaque center-button" ng-click="modal.hide()">
                Return to News Page
            </button>
            <br>
        </ion-content>
    </ion-modal-view>
</script>