<ion-view>
    <ion-content>
        
        <div class="strike header-text" ui-sref="home">
            <span>SeaLions Schedule</span>
        </div>

        <div class="header-text dark" style="margin-bottom:15px">
            {{globalText[0].game_schedule}}
        </div>

        <div ng-repeat="item in games" class="schedule-border">

            <p style="text-align:left;">
                <span class="game-date">
                    <span style="font-size:24px">{{item.date | date: "d"}}</span>
                    {{item.date | date: "MMMM, y"}}
                    {{item.date | date: "EEEE"}}
                    <span class="game-time">
                        {{item.time}}
                    </span>
                </span>
                <br>
                {{item.opponent}} ({{item.home_or_away}})
                <br>
                <a href="http://maps.apple.com/?q={{item.location}}">{{item.location}}</a>
                <div class="button-block button-style opaque center-button" ng-if="item.win_or_loss">
                    {{item.win_or_loss}}: {{item.sealions_score}} - {{item.opponents_score}}
                </div>
            </p>

        </div>
        
        <!--<button class="home-fab" ui-sref="home">-->
        <!--    <i class="ion-home"></i>-->
        <!--</button>-->

    </ion-content>
</ion-view>

