<ion-view>
    <ion-header-bar align-title="middle" style="background-color: #526DB2">
        <h1 class="title">SeaLions Schedule</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer">

        <div class="header-text dark" style="margin-bottom:15px" ng-bind-html="global_header"></div>

        
        <div ng-repeat="item in games" >
            
            
            <div class="game-date">
                {{item.date}}
                <span style="float:right">
                    {{item.time}}
                </span> 
            </div>
            
            <div class="schedule-border" data-ng-class="{'schedule-margin': !item.win_or_loss}">
        
                <div class="row" class="none">
                    <div class="col col-25 none">
                        <div class="home-away none">Home</div>
                        <img class="team-logo none" ng-if="item.home_or_away != 'Away'" ng-src="{{global_text[0].sealions_logo.src}}">
                        <img class="team-logo none" ng-if="item.home_or_away === 'Away'" ng-src="{{item.opponent_logo.src}}">
                    </div>
                    <div class="col col-25 none">
                        <div class="home-away none">
                            <span>Map</span><br>
                            <a href="http://maps.apple.com/?q={{item.location}}">
                                <i class="ion-map" style="font-size:30px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col col-25 none">
                        <div class="home-away none">
                            <span>Add</span><br>
                            <a href="" ng-click="addEvent(item)">
                                <i class="ion-calendar" style="font-size:30px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col col-25 none">
                        <div class="home-away none">Away</div>
                        <img class="team-logo none" ng-if="item.home_or_away === 'Away'" ng-src="{{global_text[0].sealions_logo.src}}">
                        <img class="team-logo none" ng-if="item.home_or_away != 'Away'" ng-src="{{item.opponent_logo.src}}">
                    </div>
                </div>
                        
            </div>
            
            <div class="game-date game-result" ng-show="item.win_or_loss">
                {{item.win_or_loss}}: {{item.sealions_score}} - {{item.opponents_score}}
                <span ng-click="modal.show(); selectGame(item)" style="float:right">
                    Game Summary <i class="ion-arrow-right-b"></i>
                </span> 
            </div>
            
        </div>

    </ion-content>
</ion-view>


<script id="game-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="middle" style="background-color: #526DB2">
            <h1 class="title">Game Summary</h1>
            <div class="buttons" style="color: white;" ng-click="modal.hide()">
                <i class="ion-close-circled" style="font-size:30px"></i>
            </div>
        </ion-header-bar>
        <ion-content style="padding-top:15px">
            
            <div class="game-date">
                {{selectedGame.date}}
                <span style="float:right">
                    {{selectedGame.time}}
                </span> 
            </div>
            
            <div class="schedule-border" data-ng-class="{'schedule-margin': !selectedGame.win_or_loss}">

                <div class="row" class="none">
                    <div class="col col-25 none">
                        <div class="home-away none">Home</div>
                        <img class="team-logo none" ng-if="selectedGame.home_or_away != 'Away'" ng-src="{{global_text[0].sealions_logo.src}}">
                        <img class="team-logo none" ng-if="selectedGame.home_or_away === 'Away'" ng-src="{{selectedGame.opponent_logo.src}}">
                    </div>
                    <div class="col col-25 none">
                        <div class="home-away none">
                            <span>Map</span><br>
                            <a href="http://maps.apple.com/?q={{selectedGame.location}}">
                                <i class="ion-map" style="font-size:30px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col col-25 none">
                        <div class="home-away none">
                            <span>Add</span><br>
                            <a href="" ng-click="addEvent(selectedGame)">
                                <i class="ion-calendar" style="font-size:30px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col col-25 none">
                        <div class="home-away none">Away</div>
                        <img class="team-logo none" ng-if="selectedGame.home_or_away === 'Away'" ng-src="{{global_text[0].sealions_logo.src}}">
                        <img class="team-logo none" ng-if="selectedGame.home_or_away != 'Away'" ng-src="{{selectedGame.opponent_logo.src}}">
                    </div>
                </div>
                        
            </div>
            
            <div class="game-date game-result" ng-show="selectedGame.win_or_loss">
                {{selectedGame.win_or_loss}}: {{selectedGame.sealions_score}} - {{selectedGame.opponents_score}}
            </div>
        
            <p ng-if="selectedGame.game_summary" ng-bind-html="selectedGame.game_summary"></p>
            <p ng-if="!selectedGame.game_summary">We haven't had a chance to post a game summary for this game yet. Check back later!</p>
            <button class="button-block button-style opaque center-button" ng-click="modal.hide()">
                Return to Game Page
            </button>
            <br>
        </ion-content>
    </ion-modal-view>
</script>