<ion-view>
    <ion-header-bar align-title="middle" style="background-color: #526DB2">
        <h1 class="title">SeaLions Sponsors</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
    
        <div class="header-text dark" style="margin-bottom:15px" ng-bind-html="global_header"></div>


        <div ng-repeat="item in sponsors">
            
            <img class="sponsor-photo" ng-src="{{item.logo.src}}" ng-click="modal.show(); selectSponsor(item)" alt="Sponsor Logo"/>

            <button class="button-block button-style opaque center-button" ng-click="modal.show(); selectSponsor(item)">
                {{item.title}}
            </button>
            <br>
            <hr>
            <br>
        </div>
        
    </ion-content>
</ion-view>



<script id="sponsor-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="middle" style="background-color: #526DB2">
            <h1 class="title">SeaLions Sponsors</h1>
            <div class="buttons" style="color: white;" ng-click="modal.hide()">
                <i class="ion-close-circled" style="font-size:30px"></i>
            </div>
        </ion-header-bar>
        <ion-content style="padding-top:30px">
            
            <h1>{{selectedSponsor.title}}</h1>
            <p ng-bind-html="selectedSponsor.body"></p>
            
            <img class="sponsor-photo" ng-if="{{selectedSponsor.qr_code.src}}" ng-src="{{selectedSponsor.qr_code.src}}" alt="Sponsor QR Code"/  style="margin-top:15px">
            
            <a href="{{selectedSponsor.website}}">
                <button class="button-block button-style transparent center-button">
                    Visit Website
                </button>
            </a>
            <button class="button-block button-style opaque center-button" ng-click="modal.hide()">
                Return to Sponsors Page
            </button>
            <br>
        </ion-content>
    </ion-modal-view>
</script>