<ion-view>
    <ion-content>
        
        <div class="strike header-text" ui-sref="home">
            <span>SeaLions Roster</span>
        </div>

        <div class="header-text dark" style="margin-bottom:15px">
            {{globalText[0].roster}}
        </div>

        <div ng-repeat="item in roster" class="player">
            <img class="player-photo" ng-src="{{item.headshot.src}}" alt="Player Headshot" />
            <h1 class="player-name">
                <span class="player-text-overlay">
                    {{item.position}}
                    &nbsp;&nbsp;<br>&nbsp;&nbsp;
                    #{{item.jersey_number}} {{item.first}} {{item.last}}
                    
                </span>
            </h1>
        </div>  
        
        <!--<button class="home-fab" ui-sref="home">-->
        <!--    <i class="ion-home"></i>-->
        <!--</button>-->

    </ion-content>
</ion-view>