/* dark-blue: #194795 */

/* medium-blue: #526DB2, rgb(82, 109, 178)*/
/* light-blue:  #7F91C4 */

/* background:  #e5e9f3 */

ion-content {
    padding: 10%;
    background-color: #e5e9f3;
}

hr {
    border-top: 1px solid #7F91C4;
    margin-top: 15px;
    margin-bottom:15px;
}

h1 {
    font-size: 14px;
    color:#3d3d3d;
    font-weight:600; 
    text-transform: uppercase;
}

p {
    font-size: 14px;
    color: #666666;
}

a {
    color: #526DB2;
}

.landing-logo {
    text-align: center;
}

.social-logo {
    width: 30px;
}

.website {
    font-size: 14px;
    color: #526DB2;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

.title {
    color: white;
}

.header-text {
    font-size: 14px;
    text-transform: uppercase;
    color: #526DB2;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.footer-icon {
    width: 20%;
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: #526DB2;
}

.dark {
    font-style: italic;
    color: #3d3d3d;
    padding-bottom: 15px;
}

.button-style {
    text-align: left;
    font-size: 14px;
    font-weight:600; 
    text-transform: uppercase;
    border: 1px solid #7F91C4;
    border-radius: 2px;
    margin: 5px 0px;
    padding: 10px 0px;
}

.center-button {
    font-size: 14px;
    text-align: center;
}
    
.transparent {
    color: #7F91C4;
    background-color: transparent;
}
    
.opaque {
    color: #e5e9f3;
    background-color: #7F91C4;
}

.button-icon-margin {
    margin-right: 15px; 
    margin-left: 15px
}

.home-fab {
    top: 0px;
    right: 0px;
    position: fixed;
    border-radius: 50%;
    color: #e5e9f3;
    background-color: #7F91C4;
    width: 30px;
    height: 30px;
    border: none;
}

.hero-photo {
    width:100%;
    max-width: 100%;
}

.schedule-border {
    border-left: 5px solid #526DB2; 
    padding-left: 15px; 
    margin-bottom: 45px
}

.game-date {
    color: #3d3d3d;
    font-weight: 600; 
    text-transform: uppercase;
}

.game-time {
    float: right;
    line-height: 28px;
}

.game-result {
    background-color: white;
    color:#3d3d3d;
    font-weight:600; 
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}

.player { 
   position: relative; 
   max-width:100%;
   width: 100%;
}
.player-photo {
    width: 100%;
    margin-bottom: 15px;
}
.player-name { 
   position: absolute; 
   bottom: 15px; 
   right: 0; 
   width: 100%; 
}
.player-text-overlay { 
   color: white; 
   line-height: 40px;
   background: rgb(82, 109, 178);
   background: rgba(82, 109, 178, 0.7);
   padding: 10px; 
}

.sponsor-photo {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    /*border: 5px solid #526DB2;*/
}
















.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0px;
}
    
.strike>span {
    position: relative;
    display: inline-block;
    text-align: center;
}
    
.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    border-top: 1px solid #526DB2;
}
    
.strike>span:before {
    right: 100%;
    margin-right: 10px;
}
    
.strike>span:after {
    left: 100%;
    margin-left: 10px;
}